@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
body
{
    background-color: rgba(167, 5, 5, 0.829);
    font-family: 'Play', sans-serif;
}

#view-pokedex:hover
{
    background-color:  rgba(167, 5, 5, 0.829);
    color: white;
    border: 1px solid  rgba(167, 5, 5, 0.829) ;
}

#text
{
    background: transparent;
    border: none;
    outline: 0;
    border-bottom: 1px solid white;
    color: white;
    width: 45%;
}

.col
{
    border-radius: 10px;
}

.poke-container
{
    border-radius: 20px;
}

::placeholder
{
    color: rgb(184, 175, 175);
}

a
{
    color: black;
}

a:hover
{
    color: black;
    text-decoration: none;
}